.container {
  margin: 20px 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-title {
  margin: 20px 0;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  justify-content: center;
  gap: 20px;
}